{% load sekizai_tags cms_tags %}

{% block content %}
{% addtoblock "js" %}
    <script type="text/javascript">
        $(function(){$("#tab-{{ instance.id }} a:first").tab('show')});
    </script>
{% endaddtoblock %}
{% endblock %}

<ul class="nav nav-tabs" id="tab-{{ instance.id }}">
    {% for tab in instance.child_plugin_instances %}
        <li><a href="#tab-{{ tab.id }}" data-toggle="tab">{{ tab.title }}</a></li>
    {% endfor %}
</ul>
<div class="tab-content">
    {% for tab in instance.child_plugin_instances %}
        <div class="tab-pane" id="tab-{{ tab.id }}">
            {% render_plugin tab %}
        </div>
    {% endfor %}
</div>